<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        INSERT INTO t_user
        VALUES (NULL, '张三', '123', 23, '女', '12345@qq.com')
    </insert>

    <update id="updateUser">
        UPDATE t_user
        SET username = '李四'
        WHERE id = 4
    </update>

    <delete id="deleteUser">
        DELETE
        FROM t_user
        WHERE id = 4
    </delete>

    <!--
        查询功能的标签必须设置 resultType 或 resultMap
        resultType: 设置默认的映射关系
        resultMap: 设置自定义的映射关系
    -->
    <select id="getUserById" resultType="com.atguigu.mybatis.pojo.User">
        SELECT *
        FROM t_user
        WHERE id = 3
    </select>

    <select id="getAllUser" resultType="User">
        SELECT *
        FROM t_user
    </select>
</mapper>